@import "tailwindcss";

.dark {
	--primary: #ff65e3;
	--secondary: #65eeff;
	--accent: #b065ff;
	--background: #121225;
	--foreground: #1e1e35;
	--text-primary: #f2f2ff;
	--text-secondary: #aaacd1;

}

.light {
	--primary: #e94fd1;
	--secondary: #4fd7e9;
	--accent: #9b4fe9;
	--background: #f8f9ff;
	--foreground: #ffffff;
	--primary-text: #1a1a2e;
	--secondary-text: #565675;
}

@theme inline {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-accent: var(--accent);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary-text: var(--text-primary);
	--color-secondary-text: var(--text-secondary);
}
